@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">Make Sure You Have Entered The Correct Location</h2>
<a asp-action="Index">Go To Home Page</a>

